@font-face{
    font-family: "Dosis";
    src: url(fonts/dosis.medium.ttf);
}

:root{
    --green-theme: rgb(33, 199, 21);
}

body{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    justify-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    font-family: "New Times Roman", sans-serif;
    width: 100%;
    background-color: rgb(33, 199, 21);
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    display: grid;
    place-items: center;
}

.container{
    width: 100%;
    display: grid;
    grid-template: 1fr / 500px 1fr 500px;
    background-color: rgb(204, 202, 202);
}

.rules{
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 200px 1fr;
    place-items: center;
}

.start-how{
    font-size: 1.8rem;
    color: rgb(73, 42, 9);
    font-weight: 700;
}

.player-name{
    display: grid;
    gap: 24px;
    font-size: 1.2rem;
    color: rgb(66, 36, 7)
}

.middle-content{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-items: center;
}

.result{
    font-size: 2rem;
    align-self: end;
}

.game-board{
    margin-top: 36px;
    display: grid;
    grid-template: repeat(3, 150px) / repeat(3, 150px);
    align-self: center;
}

.cell{
    display: grid;
    place-items: center;
    border: 1px solid black;
}

.cell.top{
    border-top: 0;
}

.cell.right{
    border-right: 0;
}

.cell.bottom{
    border-bottom: 0;
}

.cell.left{
    border-left: 0;
}

img{
    height: 120px;
    width: 120px;
}

.reset{
    display: flex;
    align-items: center;
}

button{
    width: 80px;
    height: 80px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: rgb(18, 122, 18);
    color: white;
    font-size: 2.2rem;
}

button:hover{
    cursor: pointer;
    background-color: var(--green-theme);
}

.footer{
    justify-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 51, 51);
    color: white;
    padding: 0 12px;
}

.attribution{
    justify-self: start;
    display: grid;
}

.copyright{
    font-size: 1.2rem;
}

.attribution a{
    font-size: 0.8rem;
}

.placeholder{
    width: 201.141px;
}

a{
    color: white;
    text-decoration: none;
}