@font-face{
    font-family: "Dosis";
    src: url(fonts/dosis.medium.ttf);
}

body{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    justify-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    font-family: "Dosis", sans-serif;
    width: 100%;
    background-color: rgb(202, 122, 10);
    color: rgb(53, 51, 51);
    font-size: 2rem;
    display: grid;
    place-items: center;
}

.container{
    width: 100%;
    display: grid;
    
}

.game-board{
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
}

.cell{
    display: grid;
    place-items: center;
    border: 1px solid black;
}
img{
    height: 150px;
    width: 150px;
}

.footer{
    justify-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 51, 51);
    color: white;
    padding: 0 12px;
}

.copyright{
    font-size: 1.2rem;
}

.attribution a{
    font-size: 0.8rem;
}

a{
    color: white;
    text-decoration: none;
}